assignments {
	recording {
		amsynth
		discord
		easyeffects
		jamesdsp
		jitsi
		mumble
		obs
		slack
		teams
		vesktop
		wireplumber
		zoom
		bitwig-studio
		include name="Bitwig*"
	}

	games {
		lutris
		steam
		heroic
		itch
		vrcompositor
		vrdashboard
		vrmonitor
		vrserver
		include descends="steam"
		include descends="lutris"
		include descends="heroic"
		include descends="itch"
	}

	desktop-environment {
		cosmic-comp
		dms
		fuzzel
		gamescope
		gnome-shell
		hyprland
		hyprlauncher
		i3wm
		ironbar
		kwin
		labwc
		mango
		mutter
		niri
		plasmashell
		qs
		quickshell
		riftbar
		sway
		tofi
		walker
		waybar
		weston
		wmenu
		Hyprland
		Xorg
	}

	session-services {
		include parent="gnome-session-binary"
		include parent="gvfsd"
	}

	package-manager {
		include name="apt-*"
		include name="dpkg-*"
		apt
		dnf
		dpkg
		eopkg
		flatpak
		fwupd
		moss
		packagekitd
		pacman
		update-initramfs
		yum
	}

	batch {
		include name="sbuild-*"
		include name="x86_64-aerynos-linux-*"
		include name="x86_64-linux-gnu-*"
		include name="x86_64-pc-linux-*"
		include name="x86_64-solus-linux-*"
		"7z"
		"7za"
		"7zr"
		ar
		bindgen
		boinc
		boulder
		bsdtar
		bsdtar-static
		c++
		cargo
		cc
		ccache
		clang
		clang++
		cmake
		cpio
		cpp
		FAHClient
		FAHCoreWrapper
		fossilize-replay
		g++
		gcc
		gradle
		javac
		ld
		ld.bfd
		ld.lld
		ldc2
		ldmd2
		lld
		make
		maven
		meson
		mold
		mvn
		nasm
		ninja
		pahole
		rust-analyzer
		rustc
		sbuild
		sccache
		solbuild
		tar
		tracker-miner-fs-3
		unrar
		zig
		zip
		zstd
	}
}

exceptions {

}
